.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsl(214, 56%, 47%);
  color: white;
  font-size: 17px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.3);
  transition: 100ms ease-out all;
  cursor: pointer;
}

.main:active {
  transform: scale(.95,.95);
}

.text {
  margin: 0 10px 0 0;
}

.icon {
  /* margin: 0 0 0 10px; */
}