.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsl(0, 0%, 70%);
  padding: 0 20px 0 20px;
}

.heading {
  font-size: 17px;
  color: hsl(0, 0%, 37%);
  font-weight: bold;
  width: 100px;
}

.filters {
  margin: 0 60px 0 60px;
}