.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: hsl(0, 0%, 95%);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: hsl(0, 0%, 70%);
  transition: 200ms ease border-radius;
  transition: 200ms ease background;
  color: hsl(0, 0%, 24%);
}

.main:first-child {
  border-width: 0 0 1px 0;
}

.main:nth-child(2) {
  border-width: 0 0 1px 0;
}

.main:last-child {
  border-width: 0 0 0 0;
}

.text {
  font-size: 20px;
  margin: 5px;
  border-radius: 3px;
  flex-grow: 1;
  transition: 200ms ease color;
  padding: 15px 0 15px 0;
  max-width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 500ms ease text-decoration;
}

.textCompleted {
  text-decoration: line-through;
  color: hsl(0, 0%, 61%);
}

.completed {
  background: hsl(0, 0%, 85%);
}

.checkbox {
  font-size: 30px;
  color: hsl(222, 23%, 47%);
  cursor: pointer;
  margin: 0 15px 0 15px;
}

.delete {
  color: hsla(0, 45%, 55%, 0);
  font-size: 20px;
  transition: 100ms ease all;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.deleteVisible {
  color: hsla(0, 45%, 55%, 1);
}

