.container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  font-size: 30px;
  margin: -5px 0 0 20px;
  font-weight: bold;
  color: hsl(0, 0%, 95%);
}